<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}    {% endblock %}

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
    <link rel="icon " type="image/x-icon" href="{{ asset('images/favicon.jpg') }}"/>

    {#Chosen#}
    <link rel="stylesheet" href="{{ asset('css/chosen.min.css') }}"/>
    <script src="{{ asset('js/jquery-1.10.2.js') }}"></script>

    {#Custom Style#}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>

</head>
<body>
<!-- Navbar -->
<div id='cssmenu'>
    <div class="navbar-header">
        <a href='{{ url('homepage') }}' class="pull-left"><img src="\images\logo.jpg" height="50" width="200"
                                                               alt="QuickDine"></a>
    </div>
    <ul class="navbar-nav navbar-right">
        {% if is_granted ('ROLE_ADMIN') %}
            <li><a href='{{ url('homepage') }}'><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a href='{{ url('manage_users') }}'><span class="glyphicon glyphicon-user"></span>Users</a></li>
            <li><a href={{ url('security_logout') }}><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>

        {% elseif is_granted('ROLE_USER') %}
            <li><a href='{{ url('homepage') }}'><span class="glyphicon glyphicon-home"></span>Home</a></li>


            <li><a href='{{ url('meal_viewAllByRest') }}'><span class="glyphicon glyphicon-cutlery"></span>Meals</a>
            </li>
            <li><a href='{{ url('offer_viewAllByRest') }}'><span class="glyphicon glyphicon-gift"></span> Offers</a>
            </li>
            <li><a href='{{ url('reservation_rest_viewAll') }}'><span
                            class="glyphicon glyphicon-shopping-cart"></span>Dine Reservations</a></li>
            <li><a href='{{ url('reservation_meal_viewAll') }}'><span
                            class="glyphicon glyphicon-shopping-cart"></span>Meal Reservations</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >{{ app.user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href='{{ url('restaurant_profile') }}'><span class="glyphicon glyphicon-home"></span>Profile</a></li>
                    <li><a href={{ url('security_logout') }}><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
                </ul>
            </li>
            <li><a href={{ url('security_logout') }}><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>

        {% else %}
            <li><a href='{{ url('homepage') }}'><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a href='{{ url('meal_home') }}'><span class="glyphicon glyphicon-cutlery"></span>Meals</a></li>
            <li><a href='{{ url('restaurant_home') }}'><span class="glyphicon glyphicon-glass"></span>Dine</a></li>
            <li><a href='{{ url('offer_home') }}'><span class="glyphicon glyphicon-gift"></span> Offers</a></li>
            <li><a href='{{ url('user_login') }}'><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        {% endif %}

    </ul>
</div>
<!-- Content -->


<div class="panel-body">

    <div class='error_message'> {{ form_error | default("") }} </div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>

<div id='footer'>
    Copyright © Exito
</div>

</html>
